<button (click)="test()">Test</button>

<h2>{{name}} Camera</h2>

<div *ngFor="let prop of adjProps">

    <template [ngIf]="prop.type == 'slider' ">
        <slider
                [prop]="prop"
                [selectedValue]="{key: prop.queries[0].key, value: myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).pv}"
                [valueState]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).state"
                (propChangeRequested)="changeProperty($event)"
                (propResetRequested)="resetProperty($event)">
        </slider>
    </template>

    <template [ngIf]="prop.type == 'dropdown+slider' ">
        <dropdown_slider
                [prop]="prop"
                [selectedMode]="{key: prop.queries[0][0].key, value: myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc + '-Mode']).pv}"
                [modeState]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc + '-Mode']).state"
                [selectedValue]="{key: prop.queries[0][1].key, value: myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc + '-Value']).pv}"
                [valueState]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc + '-Value']).state"
                (propChangeRequested)="changeProperty($event)"
                (propResetRequested)="resetProperty($event)">
        </dropdown_slider>
    </template>

    <template [ngIf]="prop.type == 'buttons'">
        <buttons
                [prop]="prop"
                [selectedValue]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).val"
                [valueState]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).state"
                (propChangeRequested)="changeProperty($event)"
                (propResetRequested)="resetProperty($event)">
        </buttons>
    </template>

    <template [ngIf]="prop.type == 'toggle' && prop.desc != 'Record' ">
        <toggle
                [prop]="prop"
                [selectedValue]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).val"
                [valueState]="myCameraService.getCurrProp(name, mapDescToCurrProp[prop.desc]).state"
                (propChangeRequested)="changeProperty($event)"
                (propResetRequested)="resetProperty($event)">
        </toggle>
    </template>

</div>