<!---------------------------------  MAIN PAGE   -------------------------->

       
     <div class="topbar navbar navbar-inverse">
                <div class="logo-wrapper">
                    Stereo | <span>Remote</span>
                </div>
            </div>


            <div class="row content">
                <div class="left-column settings-column col-md-2 ">
                    <h2>Left Camera</h2>

                    <div id="aperture-settings-left" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Blendenzahl<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown aperture-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="aperture-dropdown-menu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                f/<span>1.4</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="aperture-dropdown-menu-left">
                                <li><a href="#">f/<span>2.0</span></a></li>
                                <li><a href="#">f/<span>2.8</span></a></li>
                                <li><a href="#">f/<span>4</span></a></li>
                                <li><a href="#">f/<span>5.6</span></a></li>
                                <li><a href="#">f/<span>8</span></a></li>
                                <li><a href="#">f/<span>11</span></a></li>
                                <li><a href="#">f/<span>16</span></a></li>
                                <li><a href="#">f/<span>22</span></a></li>
                                <li><a href="#">f/<span>32</span></a></li>
                                <li><a href="#">f/<span>45</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="shutter-settings-left" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Verschlusszeit<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown shutter-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="shutter-mode-dropdown-menu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Speed
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="shutter-mode-dropdown-menu-left">
                                <li><a href="#">Speed</a></li>
                                <li><a href="#">Slow</a></li>
                                <li><a href="#">Clear Scan</a></li>
                                <li><a href="#">Angle</a></li>
                                <li><a href="#">Off</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="shutter-slider-left">
                            <input type="range">
                            <p class="slider-value-display">50 <span>Hz</span></p>
                        </div>
                    </div>

                    <div id="iso-settings-left" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>ISO / Gain<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown iso-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="iso-mode-dropdown-menu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                ISO
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="iso-mode-dropdown-menu-left">
                                <li><a href="#">ISO</a></li>
                                <li><a href="#">Gain</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="iso-slider-left">
                            <input type="range">
                            <p class="slider-value-display">800</p>
                        </div>
                    </div>


                    <div id="iris-left-eft" class="settings-wrapper iris-settings">
                        <div class="settings-header-wrapper">
                            <h3>Iris <i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <span class="pm-range-control-button pm-range-button-plus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span class="pm-range-info ">3</span>
                        <span class="pm-range-control-button pm-range-button-minus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>

                    <div id="nd-filter-left-left" class="settings-wrapper nd-filter-settings">
                        <div class="settings-header-wrapper">
                            <h3>ND Filter <i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <span class="pm-range-control-button pm-range-button-plus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span class="pm-range-info">3</span>
                        <span class="pm-range-control-button pm-range-button-minus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>

                    <div id="white-balance-settings-left" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Weißabgleich<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown white-balance-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="white-balance-mode-dropdown-menu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Kelvin
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="white-balance-mode-dropdown-menu-left">
                                <li><a href="#">Tungsten</a></li>
                                <li><a href="#">Daylight</a></li>
                                <li><a href="#">Preset</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="white-balance-slider-left">
                            <input type="range">
                            <p class="slider-value-display">300</p>
                        </div>
                    </div>

                    <div id="sd-slot-settings-left" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>SD Slot<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown sd-slot-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="sd-slot-dropdown-menu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                SD Slot 1
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="sd-slot-dropdown-menu-left">
                                <li><a href="#">SD Slot 2</a></li>
                                <li><a href="#">SD Slot 3</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="middle-column col-md-8">
                    <div class="settings-top-bar">
                        <div id="sync-mode-wrapper">
                            <span class="buttons-label">Sync Mode:</span>
                            <div id="sync-mode-buttons" class="btn-group" role="group" aria-label="...">
                                <button id="sync-mode-button-sync" type="button" class="btn btn-default active">Sync <i class="fa fa-link" aria-hidden="true"></i></button>
                                <button id="sync-mode-button-solo" type="button" class="btn btn-default">Solo <i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                            </div>
                        </div>

                        <div id="display-mode-wrapper">
                            <span class="buttons-label">Display Mode:</span>
                            <div id="display-mode-buttons" class="btn-group" role="group" aria-label="...">
                                <button id="display-mode-button-split" type="button" class="btn btn-default active">Split <i class="fa fa-columns" aria-hidden="true"></i></button>
                                <button id="display-mode-button-overlay" type="button" class="btn btn-default">Overlay <i class="fa fa-window-maximize" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="live-view-wrapper">
                        <div id="live-view-image-left" class="live-view-image">
                            <img src="./images/stereo-test-image.png">
                        </div>
                        <div id="live-view-image-right" class="live-view-image">
                            <img src="./images/stereo-test-image.png">
                        </div>
                    </div>
                    <div class="settings-bottom-bar">
                        <div class="bottom-left">
                            <div id="start-record-left-wrapper">
                                <span class="buttons-label">Aufnahme:</span>
                                <div id="start-record-left-buttons" class="btn-group" role="group" aria-label="...">
                                    <button id="start-record-left-button-start" type="button" class="btn btn-default active">Start <i class="fa fa-play" aria-hidden="true"></i></button>
                                    <button id="start-record-left-stop" type="button" class="btn btn-default">Stop <i class="fa fa-stop" aria-hidden="true"></i></button>
                                </div>
                            </div>

                            <div id="start-live-view-left-wrapper">
                                <span class="buttons-label">Live View:</span>
                                <div id="start-live-view-left-buttons" class="btn-group" role="group" aria-label="...">
                                    <button id="start-live-view-left-button-on" type="button" class="btn btn-default active">On <i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button id="start-live-view-left-button-off" type="button" class="btn btn-default">Off <i class="fa fa-ban" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-right">
                            <div id="start-record-right-wrapper">
                                <span class="buttons-label">Aufnahme:</span>
                                <div id="start-record-right-buttons" class="btn-group" role="group" aria-label="...">
                                    <button id="start-record-right-button-start" type="button" class="btn btn-default active">Start <i class="fa fa-play" aria-hidden="true"></i></button>
                                    <button id="start-record-right-stop" type="button" class="btn btn-default">Stop <i class="fa fa-stop" aria-hidden="true"></i></button>
                                </div>
                            </div>

                            <div id="start-live-view-right-wrapper">
                                <span class="buttons-label">Live View:</span>
                                <div id="start-live-view-right-buttons" class="btn-group" role="group" aria-label="...">
                                    <button id="start-live-view-right-button-on" type="button" class="btn btn-default active">On <i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button id="start-live-view-right-button-off" type="button" class="btn btn-default">Off <i class="fa fa-ban" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="info-text">
                        <h3>Info-Text</h3>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        <br><br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                    </div>
                </div>

                <div class="right-column settings-column col-md-2 ">
                    <h2>Right Camera</h2>
                    <div id="aperture-settings-right" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Blendenzahl<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown aperture-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="aperture-dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                f/<span>1.4</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="aperture-dropdown-menu-right">
                                <li><a href="#">f/<span>2.0</span></a></li>
                                <li><a href="#">f/<span>2.8</span></a></li>
                                <li><a href="#">f/<span>4</span></a></li>
                                <li><a href="#">f/<span>5.6</span></a></li>
                                <li><a href="#">f/<span>8</span></a></li>
                                <li><a href="#">f/<span>11</span></a></li>
                                <li><a href="#">f/<span>16</span></a></li>
                                <li><a href="#">f/<span>22</span></a></li>
                                <li><a href="#">f/<span>32</span></a></li>
                                <li><a href="#">f/<span>45</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="shutter-settings-right" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Verschlusszeit<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown shutter-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="shutter-mode-dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Speed
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="shutter-mode-dropdown-menu-right">
                                <li><a href="#">Speed</a></li>
                                <li><a href="#">Slow</a></li>
                                <li><a href="#">Clear Scan</a></li>
                                <li><a href="#">Angle</a></li>
                                <li><a href="#">Off</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="shutter-slider-right">
                            <input type="range">
                            <p class="slider-value-display">50 <span>Hz</span></p>
                        </div>
                    </div>

                    <div id="iso-settings-right" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>ISO / Gain<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown iso-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="iso-mode-dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                ISO
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="iso-mode-dropdown-menu-left">
                                <li><a href="#">ISO</a></li>
                                <li><a href="#">Gain</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="iso-slider-right">
                            <input type="range">
                            <p class="slider-value-display">800</p>
                        </div>
                    </div>


                    <div id="iris-right" class="settings-wrapper iris-settings">
                        <div class="settings-header-wrapper">
                            <h3>Iris <i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <span class="pm-range-control-button pm-range-button-plus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span class="pm-range-info ">3</span>
                        <span class="pm-range-control-button pm-range-button-minus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>

                    <div id="nd-filter-right" class="settings-wrapper nd-filter-settings">
                        <div class="settings-header-wrapper">
                            <h3>ND Filter <i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <span class="pm-range-control-button pm-range-button-plus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span class="pm-range-info">3</span>
                        <span class="pm-range-control-button pm-range-button-minus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>

                    <div id="white-balance-settings-right" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>Weißabgleich<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown white-balance-mode-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="white-balance-mode-dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Kelvin
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="white-balance-mode-dropdown-menu-left">
                                <li><a href="#">Tungsten</a></li>
                                <li><a href="#">Daylight</a></li>
                                <li><a href="#">Preset</a></li>
                            </ul>
                        </div>
                        <div class="settings-slider" id="white-balance-slider-right">
                            <input type="range">
                            <p class="slider-value-display">300</p>
                        </div>
                    </div>

                    <div id="sd-slot-settings-right" class="settings-wrapper">
                        <div class="settings-header-wrapper">
                            <h3>SD Slot<i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                        </div>
                        <div class="dropdown sd-slot-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="sd-slot-dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                SD Slot 1
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="sd-slot-dropdown-menu-right">
                                <li><a href="#">SD Slot 2</a></li>
                                <li><a href="#">SD Slot 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


<!-------------------------------------------------------------------------->