<h2>{{name}} Camera</h2>

<div *ngFor="let prop of adjProps">

    <template [ngIf]="prop.type == 'slider' ">
        <slider [selectedValue]="{key: prop.queries[0].key, value: currProps['O'+prop.queries[0].key].pv}"
                [prop]="prop" (propChangeRequested)="changeProperty($event)"></slider>
    </template>

    <template [ngIf]="prop.type == 'dropdown+slider' ">
        <dropdown_slider
                [selectedMode]="{key: prop.queries[0][0].key, value: currProps['O'+prop.queries[0][0].key].pv}"
                [selectedValue]="{key: prop.queries[0][1].key, value: currProps['O'+prop.queries[0][1].key].pv}"
                [prop]="prop" (propChangeRequested)="changeProperty($event)">
        </dropdown_slider>
    </template>

    <template [ngIf]="prop.type == 'buttons' ">
        <buttons [prop]="prop" (propChangeRequested)="changeProperty($event)"></buttons>
    </template>

    <template [ngIf]="prop.type == 'toggle' && prop.desc != 'Record' ">
        <toggle [prop]="prop" (propChangeRequested)="changeProperty($event)"></toggle>
    </template>

</div>