<p-growl [life]="2000" [value]="this.myAppService.getGrowls()"></p-growl>

<div class="carousel-inner">

    <div class="login item {{myLoginService.isLoggedIn() === true ? '' : 'active'}}">
        <video playsinline autoplay muted loop id="bgvid-login">
            <source src="./app/videos/Bokeh-Tov.webm" type="video/webm">
            <source src="./app/videos/Bokeh-Tov.mp4" type="video/mp4">
        </video>

        <div class="container login-container">
            <div class="row">
                <h1 class="col-md-8 col-md-offset-2">Stereo | <span>Remote</span></h1>
                <login-form></login-form>
            </div>
        </div>
    </div>

    <!---------------------------------  MAIN PAGE   -------------------------->
    <div *ngIf="myLoginService.isLoggedIn()"
         class="main-page item {{myLoginService.isLoggedIn() === true ? 'active' : ''}}">


        <video playsinline autoplay muted loop id="bgvid-control">
            <source src="./app/videos/Bokeh-Tov.webm" type="video/webm">
            <source src="./app/videos/Bokeh-Tov.mp4" type="video/mp4">
        </video>

        <div class="topbar navbar navbar-inverse">
            <div class="logo-wrapper">
                Stereo | <span>Remote</span>
            </div>
        </div>


        <div class="row content">
            <div class="left-column settings-column col-md-2 ">
                <camera [name]="'left'"></camera>
            </div>

            <div class="middle-column col-md-8">
                <div class="settings-top-bar">
                    <div id="sync-mode-wrapper">
                        <span class="buttons-label">Sync Mode:</span>
                        <p-toggleButton onLabel="Solo"
                                        offLabel="Sync"
                                        onIcon="fa-chain-broken"
                                        offIcon="fa-link"
                                        (onChange)="this.myAppService.ToggleMirror();this.myCameraService.mirrorProperties()">
                        </p-toggleButton>
                    </div>

                </div>
                <div class="live-view-wrapper">
                    <div id="live-view-image-left" class="live-view-image">
                        <img src="app/images/stereo-test-image.png">
                    </div>
                    <div id="live-view-image-right" class="live-view-image">
                    </div>
                </div>
                <div class="settings-bottom-bar">
                    <div class="bottom-left">
                        <div id="start-record-left-wrapper">
                            <span class="buttons-label">Aufnahme:</span>
                            <div id="start-record-left-buttons" class="record-buttons btn-group" role="group"
                                 aria-label="...">
                                <div *ngFor="let prop of adjProps">
                                    <template [ngIf]="prop.type == 'toggle' && prop.desc == 'Record'">
                                        <toggle [prop]="prop" (propChangeRequested)="changeProperty($event)"></toggle>
                                    </template>
                                </div>
                            </div>
                        </div>

                        <div id="start-live-view-left-wrapper">
                            <span class="buttons-label">Live View:</span>
                            <div id="start-live-view-left-buttons" class="live-view-buttons btn-group" role="group"
                                 aria-label="...">
                                <div *ngFor="let prop of adjProps">
                                    <template [ngIf]="prop.type == 'lv-toggle' && prop.desc == 'Liveview'">
                                        <toggle [prop]="prop" (propChangeRequested)="changeProperty($event)"></toggle>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-right">

                    </div>
                </div>
                <div id="info-text">
                    <h3>Info-Text</h3>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    <br><br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et.
                </div>
            </div>

            <div class="right-column settings-column col-md-2 ">
                <camera [name]="'right'"></camera>
            </div>
        </div>
    </div>


</div>