<p-growl [life]="2000" [value]="this.myAppService.getGrowls()"></p-growl>

<div (window:resize)="onWindowResize($event)"  class="carousel-inner">

    <div class="login item {{myLoginService.isLoggedIn() === true ? '' : 'active'}}">
        <video playsinline autoplay muted loop id="bgvid-login">
            <source src="./app/videos/Bokeh-Tov.webm" type="video/webm">
            <source src="./app/videos/Bokeh-Tov.mp4" type="video/mp4">
        </video>

        <div class="container login-container">
            <div class="row">
                <h1 class="col-md-8 col-md-offset-2">Stereo | <span>Remote</span></h1>
                <login-form></login-form>
            </div>
        </div>
    </div>

    <!---------------------------------  MAIN PAGE   -------------------------->
    <div *ngIf="myLoginService.isLoggedIn()" id="main-page" class="main-page item {{myLoginService.isLoggedIn() === true ? 'active' : ''}}">


        <video playsinline autoplay muted loop id="bgvid-control">
            <source src="./app/videos/Bokeh-Tov.webm" type="video/webm">
            <source src="./app/videos/Bokeh-Tov.mp4" type="video/mp4">
        </video>

        <div class="topbar navbar navbar-inverse">
            <i (click)="myCameraService.toggleCameraSidebar('left');adaptMiddleColumnSize();" class="sidebarMenu left fa fa-bars" aria-hidden="true"></i>
            <i (click)="myCameraService.toggleCameraSidebar('right');adaptMiddleColumnSize();" class="sidebarMenu right fa fa-bars" aria-hidden="true"></i>
            <div class="settings-top-bar">
                <p-toggleButton onLabel="Solo"
                                offLabel="Sync"
                                onIcon="fa-chain-broken"
                                offIcon="fa-link"
                                (onChange)="myAppService.ToggleMirror();myCameraService.mirrorProperties()">
                </p-toggleButton>
                <span class="btn button" href="#"><i class="icon-align-left"></i></span>
                <button pButton (click)="this.myCameraService.pingCameras();" type="button" icon="fa-bell-o" label="Ping Cameras"></button>
            </div>
        </div>


        <div class="row content">
            <div id="left-settings-column" class="left-column settings-column col-md-2 {{myCameraService.isCameraSidebarActive('left') === true ? 'active' : 'inactive'}}" >
                <camera [name]="'left'"></camera>
            </div>

            <div id="middle-column" class="middle-column col-md-8">
                <div class="live-view-wrapper">
                    <div id="live-view-image-left" class="live-view-image">
                        <liveview
                                [props]="this.myCameraService.getLiveViewProps('left')"
                                [cameraName]="'left'">
                        </liveview>
                    </div>
                    <div id="live-view-image-right" class="live-view-image">
                        <liveview
                            [props]="this.myCameraService.getLiveViewProps('left')"
                            [cameraName]="'left'">
                        </liveview>
                    </div>
                </div>
            </div>

            <div id="right-settings-column" class="right-column settings-column col-md-2 {{myCameraService.isCameraSidebarActive('right') === true ? 'active' : 'inactive'}}">
                <camera [name]="'right'"></camera>
            </div>
        </div>
    </div>


</div>