/*--- Grey Base ---*/
/*----------------------*/
/*--- Blue/Pink Color Base ---*/
/*----------------------*/
/*--- Blue/Red Color Base ---*/
/*----------------------*/
/*--- Pink/Cyan Base ---*/
/*----------------------*/
/*--- Cyan/Pink Base ---*/
/*----------------------*/
/*--- Font Stuff ---*/
/*------------------*/
/*--- Widths, Margins etc... ---*/
/*------------------------------*/
.success {
  color: #5cb85c; }

.waiting {
  color: orange; }

.fail {
  color: red; }

.fa-times-circle {
  cursor: pointer; }

* {
  font-family: Raleway;
  color: #FFFFFF; }

html, body {
  max-width: 1920px;
  min-width: 870px; }

html {
  height: 100%;
  min-height: 100%; }

input {
  color: #212121; }

body, .carousel-inner {
  min-height: 100%; }

#loading-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.75;
  z-index: 9999; }
  #loading-overlay img {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 35%; }

#loading-overlay.active {
  display: block; }

div.login.active video#bgvid-login {
  display: block; }

div.login {
  background: #00BCD4;
  min-height: 100vh;
  height: 50vmax; }
  div.login .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    top: -0.3em !important; }
  div.login .ui-radiobutton .ui-radiobutton-box {
    margin-top: -4px !important; }
  div.login video#bgvid-login {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 0.78;
    display: none; }
  div.login .login-container {
    /*min-height:400px;
    max-height:600px;*/
    height: 450px; }
    div.login .login-container .row {
      height: 100%; }
    div.login .login-container h1 {
      font-family: Lato;
      font-weight: bold;
      font-size: 52px;
      color: #FFFFFF;
      text-transform: uppercase;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px; }
      div.login .login-container h1 img {
        width: 50px;
        margin-left: 25px;
        margin-top: -7px; }
      div.login .login-container h1 span {
        font-weight: 400; }
    div.login .login-container .login-submit {
      transition: background 0.5s ease, color 0.5s ease;
      background: #0275d8;
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      border-radius: 0px;
      margin-top: 175px;
      height: 55px; }
    div.login .login-container .login-submit:hover {
      background: #FFFFFF;
      color: #212121; }
    div.login .login-container .login-box {
      text-align: center;
      padding: 0;
      min-height: 355px;
      height: 355px;
      background: #212121; }
      div.login .login-container .login-box .camera-login-box {
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 35px 15px;
        padding-bottom: 0;
        transition: background 0.75s ease, color 0.75s ease; }
        div.login .login-container .login-box .camera-login-box p, div.login .login-container .login-box .camera-login-box i {
          color: inherit; }
        div.login .login-container .login-box .camera-login-box p.login-error-message {
          color: #00BCD4;
          margin-left: 18.5%;
          margin-right: 2.1%;
          margin-bottom: 7px;
          display: none; }
        div.login .login-container .login-box .camera-login-box p.login-error-message.active {
          display: block; }
        div.login .login-container .login-box .camera-login-box p.error-message {
          color: #00BCD4;
          text-align: left;
          margin-top: 5px;
          margin-left: 18.5%;
          display: none; }
        div.login .login-container .login-box .camera-login-box p.error-message.active {
          display: block; }
        div.login .login-container .login-box .camera-login-box h2 {
          text-align: left;
          margin-left: 16.75%;
          font-size: 22px; }
        div.login .login-container .login-box .camera-login-box .login-input-wrapper {
          width: 100%;
          margin: 25px 0px; }
          div.login .login-container .login-box .camera-login-box .login-input-wrapper i {
            font-size: 20px;
            width: 14%; }
          div.login .login-container .login-box .camera-login-box .login-input-wrapper input {
            outline: none;
            border-style: none;
            width: 80%;
            height: 40px;
            padding: 10px; }
          div.login .login-container .login-box .camera-login-box .login-input-wrapper input.error {
            border: 3px solid #0097A7; }
      div.login .login-container .login-box .camera-login-box:last-child {
        margin-left: 0; }
      div.login .login-container .login-box .camera-login-box:hover {
        background: #757575; }
        div.login .login-container .login-box .camera-login-box:hover p.error-message {
          color: #0097A7; }
      div.login .login-container .login-box .bottom-bar {
        width: 100%;
        height: 145px;
        background: #212121;
        clear: both;
        padding-top: 15px; }
        div.login .login-container .login-box .bottom-bar h3 {
          margin-top: 15px; }
        div.login .login-container .login-box .bottom-bar .camera-rig-dropdown {
          width: 50%; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .ui-dropdown {
            width: 50% !important; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown li {
            text-align: center; }
            div.login .login-container .login-box .bottom-bar .camera-rig-dropdown li span {
              color: #212121; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown li.ui-state-highlight span {
            color: #FFFFFF; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-toggle {
            background: #0275d8;
            color: #FFFFFF;
            border-color: #0275d8;
            width: 80%;
            min-width: 70px; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .caret {
            color: #FFFFFF; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-menu.collapsed {
            display: none; }
          div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-menu {
            background: #FFFFFF;
            display: block !important; }
            div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-menu li {
              color: #212121; }
              div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-menu li a span {
                color: #212121; }
              div.login .login-container .login-box .bottom-bar .camera-rig-dropdown .dropdown-menu li a:hover {
                background: #0275d8; }

div.main-page.active video#bgvid-control {
  display: block; }

div.main-page {
  height: 100%; }
  div.main-page video#bgvid-control {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 0.78;
    display: none; }
  div.main-page .topbar {
    background: #212121;
    border-radius: 0;
    border: none;
    color: #FFFFFF;
    margin: 0;
    text-align: center; }
    div.main-page .topbar .sidebarMenu {
      font-size: 30px;
      color: #fff;
      position: absolute;
      top: 9px;
      z-index: 999;
      display: none; }
    div.main-page .topbar .sidebarMenu:hover {
      cursor: pointer; }
    div.main-page .topbar .sidebarMenu.left {
      left: 14px; }
    div.main-page .topbar .sidebarMenu.right {
      right: 14px; }
    div.main-page .topbar .settings-top-bar {
      margin: 0 auto;
      margin-top: 9px; }
      div.main-page .topbar .settings-top-bar button {
        width: 170px;
        background: #fff; }
        div.main-page .topbar .settings-top-bar button span {
          color: #212121; }
      div.main-page .topbar .settings-top-bar button:hover {
        background: #e0e0e0; }
      div.main-page .topbar .settings-top-bar p-toggleButton .ui-button {
        background: #fff;
        width: 170px; }
        div.main-page .topbar .settings-top-bar p-toggleButton .ui-button * {
          color: #212121; }
      div.main-page .topbar .settings-top-bar p-toggleButton:hover .ui-button {
        background: #e0e0e0; }
    div.main-page .topbar .logo-wrapper {
      font-family: Lato;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0;
      padding: 10px 20px; }
      div.main-page .topbar .logo-wrapper img {
        width: 50px;
        margin-left: 25px;
        margin-top: -7px; }
      div.main-page .topbar .logo-wrapper span {
        font-weight: 400; }
  div.main-page .content {
    height: 100%;
    margin: 0; }
    div.main-page .content .middle-column {
      padding: 0;
      margin: 0;
      padding-top: 37px;
      color: #FFFFFF;
      background: rgba(33, 33, 33, 0.6);
      height: 100vh; }
      div.main-page .content .middle-column button {
        background: #0275d8; }
      div.main-page .content .middle-column button:hover {
        background: #025aa5; }
      div.main-page .content .middle-column .live-view-wrapper {
        text-align: center; }
        div.main-page .content .middle-column .live-view-wrapper .live-view-image {
          min-height: 300px;
          width: 48%;
          display: inline-block;
          margin-right: 1%; }
          div.main-page .content .middle-column .live-view-wrapper .live-view-image img {
            width: 100%; }
          div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar {
            width: 97%;
            margin: 0 auto;
            margin-bottom: 5px;
            margin-top: 12px;
            height: 45px; }
            div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-left, div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-right {
              width: 50%;
              float: left;
              padding-right: 1%; }
              div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-left .settings-header-wrapper, div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-right .settings-header-wrapper {
                display: none; }
              div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-left toggle, div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-right toggle {
                display: inline-block; }
                div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-left toggle .settings-content.toggle > span, div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-right toggle .settings-content.toggle > span {
                  display: none; }
            div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-left {
              text-align: left; }
            div.main-page .content .middle-column .live-view-wrapper .live-view-image .settings-control-bar .bottom-right {
              text-align: right; }
          div.main-page .content .middle-column .live-view-wrapper .live-view-image .split-live-view {
            width: 100%; }
            div.main-page .content .middle-column .live-view-wrapper .live-view-image .split-live-view img.mirrored {
              -webkit-transform: scaleX(-1);
              -webkit-transform: scaleY(-1);
              transform: scaleX(-1);
              transform: scaleY(-1); }
          div.main-page .content .middle-column .live-view-wrapper .live-view-image .trans-live-view {
            margin-top: 35px;
            margin-bottom: 35px;
            width: 200%;
            position: relative; }
            div.main-page .content .middle-column .live-view-wrapper .live-view-image .trans-live-view img {
              position: relative;
              left: 0;
              top: 0;
              width: 50%;
              opacity: 0.5; }
        div.main-page .content .middle-column .live-view-wrapper #live-view-image-left h3 {
          width: 200%;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px; }
        div.main-page .content .middle-column .live-view-wrapper #live-view-image-left .trans-live-view img {
          left: 0; }
        div.main-page .content .middle-column .live-view-wrapper #live-view-image-right h3 {
          color: transparent;
          margin-bottom: 40px; }
        div.main-page .content .middle-column .live-view-wrapper #live-view-image-right .trans-live-view {
          right: 102.5%; }
          div.main-page .content .middle-column .live-view-wrapper #live-view-image-right .trans-live-view img {
            left: auto;
            right: 0; }
        div.main-page .content .middle-column .live-view-wrapper .live-view-image:last-child {
          margin-right: 0; }
    div.main-page .content .settings-column.active {
      display: block; }
    div.main-page .content .settings-column {
      height: 100%;
      min-height: 100vh;
      max-height: none;
      background: #212121;
      padding: 15px; }
      div.main-page .content .settings-column h2 {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 35px;
        text-align: center; }
      div.main-page .content .settings-column .settings-wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: center; }
        div.main-page .content .settings-column .settings-wrapper .settings-header-wrapper {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 10px;
          width: 80%;
          min-width: 70px; }
          div.main-page .content .settings-column .settings-wrapper .settings-header-wrapper h3 {
            font-size: 18px;
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left; }
            div.main-page .content .settings-column .settings-wrapper .settings-header-wrapper h3 i {
              position: absolute;
              right: 5px; }
        div.main-page .content .settings-column .settings-wrapper .settings-content {
          width: 80%;
          min-width: 70px;
          margin: 0 auto;
          text-align: left; }
          div.main-page .content .settings-column .settings-wrapper .settings-content button {
            background: #0275d8 !important; }
          div.main-page .content .settings-column .settings-wrapper .settings-content button:hover {
            background: #025aa5 !important; }
          div.main-page .content .settings-column .settings-wrapper .settings-content .dropdown li span {
            color: #212121; }
          div.main-page .content .settings-column .settings-wrapper .settings-content .dropdown li.ui-state-highlight span {
            color: #FFFFFF; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-step-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-step-forward, div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-forward {
          width: 12%;
          margin-right: 0 !important;
          margin-left: 0 !important; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.slider .slider-step-forward {
          margin-right: 1%; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.slider .dropdown {
          width: 43.5%;
          margin-right: 1%;
          margin-left: 1%; }
          div.main-page .content .settings-column .settings-wrapper .settings-content.slider .dropdown .ui-dropdown {
            width: 43.5% !important; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-step-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-step-forward, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-forward {
          width: 12%;
          margin-right: 0 !important;
          margin-left: 0 !important; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-backward, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .slider-step-forward {
          margin-right: 1%; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown {
          width: 43.5%;
          margin-right: 1%;
          margin-left: 1%; }
          div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown .ui-dropdown {
            width: 43.5% !important; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown-slider-main-dropdown {
          display: block;
          width: 100%;
          margin-bottom: 15px; }
          div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown-slider-main-dropdown .ui-dropdown {
            width: 100% !important; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.buttons .single-button {
          width: 100%; }
        div.main-page .content .settings-column .settings-wrapper .settings-content.buttons .plus-minus-button {
          width: 12%; }
      div.main-page .content .settings-column .value-property .dropdown .dropdown-toggle {
        background: #0275d8;
        color: #FFFFFF;
        border-color: #0275d8;
        width: 80%;
        min-width: 70px; }
      div.main-page .content .settings-column .value-property .dropdown .caret {
        color: #FFFFFF; }
      div.main-page .content .settings-column .value-property .dropdown .dropdown-menu.collapsed {
        display: none; }
      div.main-page .content .settings-column .value-property .dropdown .dropdown-menu {
        background: #FFFFFF;
        display: block !important; }
        div.main-page .content .settings-column .value-property .dropdown .dropdown-menu li {
          color: #212121; }
          div.main-page .content .settings-column .value-property .dropdown .dropdown-menu li a span {
            color: #212121; }
          div.main-page .content .settings-column .value-property .dropdown .dropdown-menu li a:hover {
            background: #0275d8; }
      div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-toggle {
        background: #0275d8;
        color: #FFFFFF;
        border-color: #0275d8;
        width: 80%;
        min-width: 70px; }
      div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .caret {
        color: #FFFFFF; }
      div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-menu.collapsed {
        display: none; }
      div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-menu {
        background: #FFFFFF;
        display: block !important; }
        div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-menu li {
          color: #212121; }
          div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-menu li a span {
            color: #212121; }
          div.main-page .content .settings-column .white-balance-settings .white-balance-mode-dropdown .dropdown-menu li a:hover {
            background: #0275d8; }
      div.main-page .content .settings-column .white-balance-settings .settings-slider {
        text-align: center; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range] {
          -webkit-appearance: none;
          margin: 18px 0;
          margin-bottom: 11px;
          width: 80%;
          min-width: 70px; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range]:focus {
          outline: none; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          animate: 0.2s;
          background: #FFFFFF; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range]::-webkit-slider-thumb {
          border: 1px solid #212121;
          height: 20px;
          width: 20px;
          border-radius: 15px;
          background: #ffffff;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -7px;
          background: #0275d8; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range]:focus::-webkit-slider-runnable-track {
          background: #BDBDBD; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider input[type=range] {
          display: inline-block; }
        div.main-page .content .settings-column .white-balance-settings .settings-slider p.slider-value-display {
          width: 80%;
          min-width: 70px;
          text-align: center;
          display: inline-block; }
      div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-toggle {
        background: #0275d8;
        color: #FFFFFF;
        border-color: #0275d8;
        width: 80%;
        min-width: 70px; }
      div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .caret {
        color: #FFFFFF; }
      div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-menu.collapsed {
        display: none; }
      div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-menu {
        background: #FFFFFF;
        display: block !important; }
        div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-menu li {
          color: #212121; }
          div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-menu li a span {
            color: #212121; }
          div.main-page .content .settings-column .shutter-settings .shutter-mode-dropdown .dropdown-menu li a:hover {
            background: #0275d8; }
      div.main-page .content .settings-column .shutter-settings .settings-slider {
        text-align: center; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range] {
          -webkit-appearance: none;
          margin: 18px 0;
          margin-bottom: 11px;
          width: 80%;
          min-width: 70px; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range]:focus {
          outline: none; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          animate: 0.2s;
          background: #FFFFFF; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range]::-webkit-slider-thumb {
          border: 1px solid #212121;
          height: 20px;
          width: 20px;
          border-radius: 15px;
          background: #ffffff;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -7px;
          background: #0275d8; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range]:focus::-webkit-slider-runnable-track {
          background: #BDBDBD; }
        div.main-page .content .settings-column .shutter-settings .settings-slider input[type=range] {
          display: inline-block; }
        div.main-page .content .settings-column .shutter-settings .settings-slider p.slider-value-display {
          width: 80%;
          min-width: 70px;
          text-align: center;
          display: inline-block; }
      div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-toggle {
        background: #0275d8;
        color: #FFFFFF;
        border-color: #0275d8;
        width: 80%;
        min-width: 70px; }
      div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .caret {
        color: #FFFFFF; }
      div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-menu.collapsed {
        display: none; }
      div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-menu {
        background: #FFFFFF;
        display: block !important; }
        div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-menu li {
          color: #212121; }
          div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-menu li a span {
            color: #212121; }
          div.main-page .content .settings-column .iso-settings .iso-mode-dropdown .dropdown-menu li a:hover {
            background: #0275d8; }
      div.main-page .content .settings-column .iso-settings .settings-slider {
        text-align: center; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range] {
          -webkit-appearance: none;
          margin: 18px 0;
          margin-bottom: 11px;
          width: 80%;
          min-width: 70px; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range]:focus {
          outline: none; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          animate: 0.2s;
          background: #FFFFFF; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range]::-webkit-slider-thumb {
          border: 1px solid #212121;
          height: 20px;
          width: 20px;
          border-radius: 15px;
          background: #ffffff;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -7px;
          background: #0275d8; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range]:focus::-webkit-slider-runnable-track {
          background: #BDBDBD; }
        div.main-page .content .settings-column .iso-settings .settings-slider input[type=range] {
          display: inline-block; }
        div.main-page .content .settings-column .iso-settings .settings-slider p.slider-value-display {
          width: 80%;
          min-width: 70px;
          text-align: center;
          display: inline-block; }
      div.main-page .content .settings-column .nd-filter-settings .pm-range-control-button {
        display: inline-block;
        width: 10%;
        height: 30px;
        background: #0275d8;
        text-align: center;
        overflow: hidden;
        font-size: 16px;
        margin: 0; }
        div.main-page .content .settings-column .nd-filter-settings .pm-range-control-button i {
          margin-top: 7px; }
      div.main-page .content .settings-column .nd-filter-settings .pm-range-control-button:hover {
        cursor: pointer; }
      div.main-page .content .settings-column .nd-filter-settings .pm-range-button-minus {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
      div.main-page .content .settings-column .nd-filter-settings .pm-range-button-plus {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; }
      div.main-page .content .settings-column .nd-filter-settings .pm-range-info {
        display: inline-block;
        overflow: hidden;
        width: 56%;
        text-align: center;
        height: 30px;
        background: #BDBDBD;
        color: #212121;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-top: 4px; }
      div.main-page .content .settings-column .iris-settings .pm-range-control-button {
        display: inline-block;
        width: 10%;
        height: 30px;
        background: #0275d8;
        text-align: center;
        overflow: hidden;
        font-size: 16px;
        margin: 0; }
        div.main-page .content .settings-column .iris-settings .pm-range-control-button i {
          margin-top: 7px; }
      div.main-page .content .settings-column .iris-settings .pm-range-control-button:hover {
        cursor: pointer; }
      div.main-page .content .settings-column .iris-settings .pm-range-button-minus {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
      div.main-page .content .settings-column .iris-settings .pm-range-button-plus {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; }
      div.main-page .content .settings-column .iris-settings .pm-range-info {
        display: inline-block;
        overflow: hidden;
        width: 56%;
        text-align: center;
        height: 30px;
        background: #BDBDBD;
        color: #212121;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-top: 4px; }

@media (max-width: 1840px) {
  div.main-page .content .settings-column .settings-wrapper .settings-content.slider .dropdown:not(.upper-dropdown), div.main-page .content .settings-column .settings-wrapper .settings-content.slider .dropdown:not(.upper-dropdown) .ui-dropdown, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown:not(.upper-dropdown), div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown:not(.upper-dropdown) .ui-dropdown {
    width: 38% !important; }
  div.main-page .content .settings-column .settings-wrapper .settings-content.slider .dropdown.upper-dropdown, div.main-page .content .settings-column .settings-wrapper .settings-content.dropdown-slider .dropdown.upper-dropdown {
    width: 94% !important; } }
@media (max-width: 1450px) {
  div.main-page .content .settings-column {
    width: 20% !important; }
  div.main-page .content .middle-column {
    width: 60% !important; } }
@media (max-width: 1250px) {
  div.main-page .topbar .sidebarMenu {
    display: inline; }
  div.main-page .content .settings-column {
    position: absolute;
    top: 50px;
    left: 0;
    width: 30% !important;
    z-index: 99; }
  div.main-page .content .settings-column.inactive {
    z-index: 0;
    opacity: 0; }
  div.main-page .content .settings-column.right-column {
    left: auto;
    right: 0; }
  div.main-page .content .middle-column {
    width: 100% !important;
    display: block;
    float: none !important; }

  div.main-page .topbar .settings-top-bar p-toggleButton .ui-button {
    width: 140px; } }
@media (max-width: 992px) {
  .login-submit {
    width: 100% !important; } }
.recIcon > .fa-circle {
  color: red; }

.recState {
  margin-right: 5px;
  padding: 0 5px; }

.recStateWrapper {
  background-color: #3771a4;
  height: 30.5938px;
  display: inline-block;
  border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
