<div class="settings-wrapper">

    <div class="settings-header-wrapper">
        <h3>{{prop.desc}}

            <i class="fa fa-check-circle success" aria-hidden="true" *ngIf="valueState=='success' && prop.desc == 'ND'"
               title="All values synchronized"></i>
            <i class="fa fa-question-circle waiting" aria-hidden="true"
               *ngIf="valueState=='waiting' && prop.desc == 'ND'"
               title="Waiting for camera response"></i>
            <i class="fa fa-times-circle fail" aria-hidden="true" *ngIf="valueState=='fail' && prop.desc == 'ND'"
               title="Synchronization failed: Click to show last synchronized value"
               (click)="sendPropResetRequest()">
            </i>
        </h3>
    </div>

    <div class="settings-content buttons">
        <template ngFor let-query="$implicit" [ngForOf]="prop.queries" let-i="index" let-isFirst="first">
        <span [ngSwitch]="query.name">
            <button *ngSwitchCase="'+'" pButton type="button" class="plus-minus-button" icon="fa-plus"
                    (click)="sendPropertyChangeRequest(i)"></button>
            <button *ngSwitchCase="'-'" pButton type="button" class="plus-minus-button" icon="fa-minus"
                    (click)="sendPropertyChangeRequest(i)"></button>
            <button *ngSwitchDefault pButton type="button" class="single-button" label={{query.name}}
                    (click)="sendPropertyChangeRequest(i)"></button>
        </span>
            <span *ngIf="isFirst && selectedValue != null">{{selectedValue}}</span>
        </template>
    </div>

</div>

