<div class="settings-wrapper">
    <div class="settings-header-wrapper">
        <h3>{{prop.desc}}
            <i class="fa fa-check-circle success" aria-hidden="true" title="All values synchronized"
               *ngIf="valueState=='success' && modeState =='success'"></i>
            <i class="fa fa-question-circle waiting" aria-hidden="true" title="Waiting for camera response"
               *ngIf="valueState=='waiting' || modeState=='waiting'"></i>
            <i class="fa fa-times-circle fail" aria-hidden="true" *ngIf="valueState=='fail' || modeState=='fail'"
               title="Synchronization failed: Click to show last synchronized value" (click)="sendPropResetRequest()">
            </i>
        </h3>
    </div>

    <div class="settings-content dropdown-slider">
        <div>
            <p-dropdown class="dropdown dropdown-slider-main-dropdown" [options]="modes" [(ngModel)]="selectedMode"
                        (onChange)="onModeChange()"></p-dropdown>
        </div>

        <template ngFor let-value="$implicit" [ngForOf]="values" let-i="index">
            <div *ngIf="selectedMode.value == modes[i].value.value && value.length != 0">
                <button class="slider-backward" pButton type="button" icon="fa-backward"
                        (click)="onFirstValue(i)"></button>
                <button class="slider-step-backward" pButton type="button" icon="fa-step-backward"
                        (click)="onDecrementValue(i)"></button>
                <p-dropdown class="dropdown" [options]="value" [(ngModel)]="selectedValue"
                            (onChange)="onValueChange(i)"></p-dropdown>
                <button class="slider-step-forward" pButton type="button" icon="fa-step-forward"
                        (click)="onIncrementValue(i)"></button>
                <button class="slider-forward" pButton type="button" icon="fa-forward"
                        (click)="onLastValue(i)"></button>
            </div>
        </template>
    </div>

</div>
