
<!--<h3>Live Views:</h3>-->
<div class="trans-live-view">
    <img src="{{this.liveViewActive === true ? this.liveViewSource : './app/images/stereo-test-image.png'}}">
</div>

<div class="split-live-view">
    <img src="./app/images/stereo-test-image.png">
</div>


<div class="settings-control-bar">
    <div class="bottom-left">
        <div *ngFor="let prop of props">
            <template [ngIf]="prop.type == 'lv-toggle'">
                {{prop.desc}}:
                <toggle
                        [prop]="prop"
                        [selectedValue]="myCameraService.getCurrProp(cameraName,  this.myCameraService.getMapDescToCurrProp()[prop.desc]).val"
                        [valueState]="myCameraService.getCurrProp(cameraName, this.myCameraService.getMapDescToCurrProp()[prop.desc]).state"
                        (propChangeRequested)="changeProperty($event)"
                        (propResetRequested)="resetProperty($event)">
                </toggle>
            </template>
        </div>
    </div>
    <div class="bottom-right">
        <div *ngFor="let prop of props">
            <template [ngIf]="prop.type == 'toggle' && prop.desc == 'Record' ">
                {{prop.desc}}:
                <toggle
                        [prop]="prop"
                        [selectedValue]="myCameraService.getCurrProp(cameraName,  this.myCameraService.getMapDescToCurrProp()[prop.desc]).val"
                        [valueState]="myCameraService.getCurrProp(cameraName, this.myCameraService.getMapDescToCurrProp()[prop.desc]).state"
                        (propChangeRequested)="changeProperty($event)"
                        (propResetRequested)="resetProperty($event)">
                </toggle>
            </template>
        </div>
    </div>
</div>